@{
    ViewData["Title"] = "Trang Chủ";
}
<script src="https://kit.fontawesome.com/fe0decd0b5.js" crossing="anonymous"></script>
<link rel="stylesheet" href="~/css/TrangChu.css"/>
<body>
<div class="text-center">
    <h1 class="" style="color:white;font-size:30px;font-weight:bold;">Comics Store</h1>


    <div class="boxes">

        <div class="box">
            <img src="https://i.annihil.us/u/prod/marvel/i/mg/5/10/6201554a2c0ab/portrait_uncanny.jpg" height="80%" width="80%" /><br>
            <a style="text-decoration: none" href="https://phamcaosanh.github.io/phim1.html" class="bt0">Devil’s Reign: Villains for Hire #2</a>
        </div>

        <div class="box">
            <img src="https://i.annihil.us/u/prod/marvel/i/mg/2/40/61b2391a1d410/portrait_uncanny.jpg" height="80%" width="80%" /><br>
            <a style="text-decoration: none" href="https://phamcaosanh.github.io/phim1.html" class="bt0">Carnage Forever #1</a>
        </div>

        <div class="box">
            <img src="https://i.annihil.us/u/prod/marvel/i/mg/5/e0/61b238a45a3c6/portrait_uncanny.jpg" height="80%" width="80%" /><br>
            <a style="text-decoration: none" href="https://phamcaosanh.github.io/phim1.html" class="bt0">Silk #2</a>
        </div>

        <div class="box">
            <img src="https://i.annihil.us/u/prod/marvel/i/mg/2/b0/61b23910d9a04/portrait_uncanny.jpg" height="80%" width="80%" /><br>
            <a style="text-decoration: none" href="https://phamcaosanh.github.io/phim1.html" class="bt0">Luke Cage: City of Fire #3</a>
        </div>

        <div class="box">
            <img src="https://i.annihil.us/u/prod/marvel/i/mg/9/50/61b238a6e5df3/portrait_uncanny.jpg" height="80%" width="80%" /><br>
            <a style="text-decoration: none" href="https://phamcaosanh.github.io/phim1.html" class="bt0">Miles Morales: Spider-Man #35</a>
        </div>

        <div class="box">
            <img src="https://i.annihil.us/u/prod/marvel/i/mg/8/b0/61b238c11d0ef/portrait_uncanny.jpg" height="80%" width="80%" /><br>
            <a style="text-decoration: none" href="https://phamcaosanh.github.io/phim1.html" class="bt0">6</a>
        </div>

   
        <div class="box">
            <img src="https://i.annihil.us/u/prod/marvel/i/mg/4/03/62017952d165c/portrait_uncanny.jpg" height="80%" width="80%" /><br>
            <a style="text-decoration: none" href="https://phamcaosanh.github.io/phim1.html" class="bt0">1</a>
        </div>

        <div class="box">
            <img src="https://i.annihil.us/u/prod/marvel/i/mg/6/b0/6201556a7fef8/portrait_uncanny.jpg" height="80%" width="80%" /><br>
            <a style="text-decoration: none" href="https://phamcaosanh.github.io/phim1.html" class="bt0">2</a>
        </div>

        <div class="box">
            <img src="https://i.annihil.us/u/prod/marvel/i/mg/4/03/61fa962256313/portrait_uncanny.jpg" height="80%" width="80%" /><br>
            <a style="text-decoration: none" href="https://phamcaosanh.github.io/phim1.html" class="bt0">3</a>
        </div>

        <div class="box">
            <img src="https://i.annihil.us/u/prod/marvel/i/mg/3/20/6201552f5c72e/portrait_uncanny.jpg" height="80%" width="80%" /><br>
            <a style="text-decoration: none" href="https://phamcaosanh.github.io/phim1.html" class="bt0">4</a>
        </div>

        <div class="box">
            <img src="https://i.annihil.us/u/prod/marvel/i/mg/4/03/62017952b7c70/portrait_uncanny.jpg" height="80%" width="80%" /><br>
            <a style="text-decoration: none" href="https://phamcaosanh.github.io/phim1.html" class="bt0">5</a>
        </div>

        <div class="box">
            <img src="https://i.annihil.us/u/prod/marvel/i/mg/6/20/62017952a1efd/portrait_uncanny.jpg" height="80%" width="80%" /><br>
            <a style="text-decoration: none" href="https://phamcaosanh.github.io/phim1.html" class="bt0">6</a>
        </div>


</div>
</div>
    </body>