body {
    
}



root {
    --shadow: 0 1px 5px rgb(110, 9, 172, 0.8);
}

.boxes {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, minmax(20px, 1fr));
}

.boxes :hover {
        overflow: hidden;
        transition: 0.2s ease;
}

.box {
    background-color: #4b0000;
    border-radius: 0px 0px 25px 0px;
    padding: 2rem 0rem;
    box-shadow: var(--shadow);
    margin: auto;
    padding-top: 0;
}

    .box a {
        color: #fff;
        font-size: 17px;
        font-weight: bold;
        margin-left: -50px;
    }

    .box img:hover {
        transform: scale(1.1);
        overflow: hidden;
    }

    .box img {
        margin:auto;
        object-fit: cover;
        display: block;
        transition: all .3s ease;
    }

body {
    
}